%centering {
  display: flex;
  align-items: center;
}

.container {
  @extend %centering;
  height: 100%;
  justify-content: center;
  .main {
    min-width: 100px;
    padding: 0 20px;
    margin: 0 auto;
    height: 300px;
    .transitionsItem {
      @extend %centering;
      overflow: hidden;
      width: 100%;
      color: white;
      justify-content: flex-start;
      font-size: 1em;
      font-weight: 800;
      text-transform: uppercase;
      will-change: transform, opacity, height;
      white-space: nowrap;
      cursor: pointer;
      line-height: 80px;
    }
  }
}


