.Left {
  Card {

  }

}

.Navbar {
  color: aquamarine;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto 0.5px auto auto;
  Button {
    border-radius: 20px;
  }
}
.Mid {

  float: right;}


.Left {
  float: left;
}
